html {
  font-family: sans-serif;
  font-size: 6px;
  scroll-behavior: smooth;
}
body:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0
}

body {
  background-color: #252422;
  color: #fffcf2;
}

.navbar {
  background-color: #403d39 !important;
}

#projectName {
	font-size: clamp(25px,2.5vw,30px);
  font-family: 'Playfair Display SC', serif;
  color: #758e4f;
  text-decoration: none;
  margin-left: 1vw;
}

@media screen and (min-width: 992px){
  #projectName {
    margin-right: 3vw;
  }
}

#castanea-img2 {
  width: clamp(100px,3vw,150px);
}

.nav-item {
  color: #fffcf2 !important;
  font-size: 3vh;
  margin-left: 4vw;
  font-family: 'Roboto', sans-serif !important;
}

.nav-item:hover {
  color: #d5bd96 !important;
}

.navbar-toggler {
  background-color: #758e4f !important;
  }

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#castanea-img {
  max-width: 12vw;
}

#welcomeTextHolder {
  bottom: 0;
}

.welcome-text {
  font-size: clamp(30px,5vh,50px);
  font-family: 'Playfair Display SC', serif;
}

#intro {
  height: 100vh;
  padding-top: 20vh;
  font-size: clamp(18px,3vh,24px);
}

#servicesTitle {
  font-size: 4vh;
  text-align: center;
  padding-bottom: 2vh;
}

#servicesSubTitle {
  text-align: center;
  padding-bottom: 2vh;
}


#services {
  height: 80vh;
  padding-top: 20vh;
}

#servicesSubTitle2 {
  font-size: 4vh;
  text-align: center;
  padding-bottom: 10vh;
  padding-top: 4vh;
}

.col-lg-2 {
  background-color: #758e4f;
  border: 4px solid #ccc5b9;
  border-radius: 1vh;
  font-size: 2.5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 16vh;
  margin-bottom: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* end of services part */

#contact {
  height: 100vh;
  margin-top: 15vh;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 576px){
  #contact {
    margin-top: 50vh;
  }
  textarea {
    width: 300px;
  }
}

#contact > h2 {
  font-size: 5rem;
}

#contact > h3 {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 60vw;
  padding-top: 5vh;
  font-size: 3rem;
}
.name, .email, .subject, .message, .button {
  text-align: center;
  padding-bottom: 1.5vh;
}
input, textarea {
  background-color: #fffcf2;
}
textarea {
   resize: none;
}
button {
  background-color: #758e4f;
  color: #fffcf2;
  border: 2px solid;
  border-radius: 1vh;
  border-color: #758e4f;
}
button:hover {
  border: 2px solid;
  border-radius: 1vh;
  border-color: #ccc5b9;
}


#about {
  padding-top: clamp(400px,20vh,500px);
  font-size: clamp(18px,4vh,30px);
  padding-bottom: 10vh;
}

h3 {
  font-size: 5rem;
}

#aboutTitle {
  padding-bottom: 6vh;
}

#myimg {
  max-width: 15vw;
  border-radius: 5vh;
  margin-right: 5vw;
  border: 3px solid;
  border-color: #758e4f;
}
